@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
  --bg: #5f4b8b;
  --fg: #ffffff;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --searchBg: var(--containerBg);
  --scrollbarColor: #3f3f3f;
  --fontFamily: 'Roboto Mono', monospace;
  --wall: url("content://com.mixplorer.file/511!s/Wallpapers/Forest.jpg");
}


* {
	box-sizing: border-box;
}


body {
  background: var(--bg) /* var(--wall) 0 0/cover */;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search {
  width: 90%;
  margin: 5% 5%;
  background-color: var(--searchBg);
  display: flex;
  flex-direction: row;
  border: solid 0px var(--searchBg);
  border-radius: .75rem;
  align-items: center;
  justify-content: space-between;
}

#search-field {
	
	width: 100%;
	padding: 0.75em 0.5em 0.75em 1em;
	background-color: transparent;
	border: inherit;
	border-radius: inherit;
	font-family: var(--fontFamily);
	outline-style: none;
	font-size: 1rem;
	color: var(--fg);
	text-align: left;
}

#search button {
	padding: 0.75em 0.5em;
	margin: 0 0.5em 0 0;
	background-color: transparent;
	border: none;
	outline-style:none;
	
}

#search button img {
	width: 1.2em;
	height: 1.2em;
	filter: invert(0.7);
}

#search button:hover img {
	filter: invert(1);
}

button#clear-field {
	visibility: hidden;
}

button#clear-field img {
	width: 0.9em;
	height: 0.9em;
}

@media screen and (min-width: 600px) {
	#search {
		width: 50%
	}
}